<install-steps>
  <install-step title="Installation">
    <p>
      The Readarr team provides
      <a href="https://readarr.servarr.com/v1/update/nightly/updatefile?os=bsd&arch=x64&runtime=netcore">builds for BSD</a>.<br/>
      Additional details can be found on Frank's GH
      <a href="https://github.com/Thefrank/freebsd-port-sooners/">Link</a>
    </p>
  </install-step>
</install-steps>
